@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
:root{
--Desaturated-Red: hsl(0, 36%, 70%);
--Soft-Red: hsl(0, 93%, 68%);--Dark-Grayish-Red: hsl(0, 6%, 24%);
--Linear-135deg-from: hsl(0, 0%, 100%);--color:hsl(0, 100%, 98%);
--Linear: hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin sans',sans-serif;
    font-size: 16px;
}
header{
    display: none;
}
.container{
    min-height: 100vh;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container .left{
    width: 100%;
    height: auto;
    padding: 50px 30px  0 30px;

}
.container .right{
    width: 100%;
    height: 400px;
    background-image:url(./images/hero-mobile.jpg) ;
    background-size:70%;
    background-repeat:no-repeat;
    background-position: top;

}

 
   

.container .left h1{
    font-size: 3.2rem;
    font-weight: 200;
    text-transform: uppercase;
    color: hsl(0, 36%, 70%);
    line-height: 3.5rem;
    letter-spacing: .5rem;
}
.container .left h1 span{
    color:hsl(0, 6%, 24%);
    font-weight: 700;

}
.container .left p{
    max-width: 450px;
    margin: 0 auto;
    color:hsl(0, 36%, 70%);
    margin-top: 20px;
    margin-bottom: 40px;

}
.container form{
   position: relative ;
   display: block;
   height:  50px;
   width: 100%;
   margin: 0 auto;
}
.container form input{
    position: relative;
    width: 50%;
    height: 70% ;
    outline: none;
    border-radius: 50px;
    top: 0;
    left: 0;
    border: 1px solid hsl(0, 74%, 74%);
    padding-left: 30px;
    font-family: 'josefin sans',sans-serif;
    font-size: 1.1rem;

}
.container .myBtn{
    cursor:pointer;
    position: absolute;
    right: 0;
    top: 0;
    height : 100%;
    width: 70px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), to hsl(0, 74%, 74%));
    box-shadow: 0px 0px 13px 2px #f4aaabbf;
    margin-right: 300px;
    margin-top: -6px;

}
.conatiner .form button:hover{
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%),hsla(0,52%,80%,0.781));
    box-shadow: 0px 0px 13px 2px #f4aaabbf;
}
/* :root {

    --desaturatedRed: hsl(0, 15%, 44%);
    --softRed: hsl(0, 55%, 46%);
    --darkGrayishRed: hsl(0, 11%, 96%);

    
    --ff-primary: 'Josefin Sans', sans-serif;

    --fs-base: 1rem;
    --fs-sm: 0.875rem;
    --fs-md: 2.5rem;
    --fs-lg: 4rem;


    --img-wth: 310px;
    --img-ht: 250px;
    --img-mb: 4rem;
    --sec-mar: 0rem 2rem 4.57rem 2rem;
    --sec-ht: 122px;
    --snippet-mar: 0rem 0rem 2rem 0rem;
    --snippet-LH: 1.75rem;
    --head-pad: 0rem 4.75rem 0rem 4.75rem;
    --form-pad: 5.75em;
    --head-mb: 2.125rem;
    --sub-pad: 1rem;
    --sub-mb: 2rem;



    --Linear: 135deg, hsl(0, 80%, 86%), hsl(0, 29%, 55%);
 --Linear: 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);
    


}

html {
    font-size: 100%;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
    background-color: rgb(253, 239, 242);
    

    @media (min-width: 900px) {
        background-image: url(../images/bg-pattern-desktop.svg);
        background-size: 60% 100%;
        background-position: left -60px top;
        background-repeat: no-repeat;   
    }
}
    



.header {
    margin: 2rem 15.1875rem 2rem 2rem;

    @media (min-width: 900px) {
      position: absolute;  
      padding: 2rem 0; 
      margin-left:10.3125rem;
      margin-bottom: 8.5rem;
      width: 158px;
      height: 33px;
    }
}

.header > img {
    width: 100px;
    height: 20.89px;
    

    @media (min-width: 900px) {
        width: 158px;
        height: 33px;
        margin: auto;
        padding: auto;
        
      
    }
}




.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-bottom: var(--form-pad);
    justify-content:start;

    
@media (min-width: 900px) {
        flex-direction: row;
        padding-top: 0;  
        padding-bottom: 0;  
        min-width: 491px;
    }
    
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--sub-pad);
    
    
    @media (min-width: 900px) {
        align-items:flex-start;
        margin-bottom: 0;
        font-size: var(--fs-lg);
        font-weight: 400;
        letter-spacing: 17.32px;
        text-align: left;
        
    }
}


.snippet {
    color: var(--desaturatedRed);
    margin: var( --snippet-mar);
    line-height: 1.375rem;
    font-size:var(--fs-sm);
    font-weight: 400;
    text-align: center;
    
    @media (min-width: 900px) {
        
        font-size: var(--fs-base);
        line-height: var(--snippet-LH);
        text-align: left;
        margin-bottom: 2.5rem;    
    }
}





.container .left {
    width: 100%;
    height:auto;
    padding: 0px 30px 0 30px;
       
    @media (min-width: 900px) {
        max-width: 445px;
        margin: 14.625rem 13.75rem 9.5rem 10.3125rem;
        padding: 0;
        
       
    }   
}

.container .right {
    background-image: url(../images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: var(--img-ht);
    object-fit: cover;
    margin-bottom: var(--img-mb);

    @media (min-width: 900px) {
        height: 100vh;
        margin-bottom: 0;
        background-image: url(../images/hero-desktop.jpg);
        
       
        
        
    }
    
}

.right img {
    @media (min-width: 900px) {
        max-width: 610px;
        max-height: 800px;
        
        
        
    }
}


.container form{
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    margin: 0 auto; 
    outline: none;
   
}
.container form .error-icon {
    display: inline-block;
    position: absolute;
    top: 24%;
    right: 24%;
    display: none;

    @media (min-width: 375px) and (min-width:450px){
        display: inline-block;
        position: absolute;
        top: 24%;
        right: 24%;
        display: none;
         
    }
 
}

.container form.error .error-icon {
    display: block;
    color: red;
}
.container form.error .error-text {
    display: block;
    color: rgb(219, 1, 1);
    font-size: 1rem;
}
.container form.error input {
    border: 1px solid red;
}
.container form .error-text {
    position: absolute;
    top: 120%;
    left: 10%;
    font-size: var(--fs-base);
    display: none;
    
}

.container form input::placeholder {
    color: var(--desaturatedRed);
    opacity: .8;
}

.email-input:focus {
    color: var(--desaturatedRed);
    opacity: .8;

}

.arrow {
    width: 1rem;
    margin-left: .5rem;    
}
.arrow path {
    stroke: rgb(255, 255, 255);
    stroke-width: 2px;
    fill: none;       
}

.flex-container {
    display: flex;
} */