<router-outlet></router-outlet>
<table>
    <thead>
        <tr>
            <th *ngFor="let key of tabKey">{{key}}</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let arr of tabValue">
            <td *ngFor="let val of arr">{{val}}</td>

            <td>{{arr.Name}}</td>
            <td>{{arr.Address}}</td>
            <td>{{arr.Email}}</td>
        </tr>

    </tbody>
</table>
<style>
    table,
    table td,
    table th {
        border: 1px solid black
    }
</style>

<br>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th> address</th>
            <th>age</th>
            <th>addhar</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{displayValue}}</td>
            <td>{{displayValue}}</td>
            <td>{{displayValue}}</td>
            <td>{{displayValue}}</td>
        </tr>

    </tbody>
    <div class="container">
        <h1>{{title}}</h1>
        <p>Enter your Name hear:{{displayValue }}</p>
        <input type="text" #box (keyup)="getValue(box.value)" placeholder="Enter your Name">

        <p>Address :{{displayValue }}</p>
        <input type="text" #box (keyup)="getValue1(box.value)" placeholder="Enter your Address">

        <p>Age :{{displayValue }}</p>
        <input type="text" #box (keyup)="getValue2(box.value)" placeholder="Enter your Name">

        <p>Addhar :{{displayValue }}</p>
        <input type="text" #box (keyup)="getValue3(box.value)" placeholder="Enter your Name">
        <br>
        <button>Add</button>
        <button type="submit" #box (submit)="submit()">Submit</button>
        <br>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="enter the text">
    </div>