@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    min-height: 100vh;
}

.container {
    height: 100vh;
    max-width: 1320px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-between;
    margin: 0 2rem;
    padding: 40px 0;
}

.header img {
    padding-bottom: 20px;
    width: 190px;
}

.main {
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero-text h1 {
    color: #fff;
    font-family: 'poppins', sans-serif;
    margin-bottom: 20px;
}

.hero-text p {
    color: #fff;
    font-family: 'open Sans', sans-serif;
    line-height: 1.8;
    margin-bottom: 30px;
}

.hero-text a {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 8px 17px -8px rgba(0, 0, 0, .8);
    display: inline-block;
    font-family: 'Poppons', sans-serif;
    padding: 13px 50px;
    text-decoration: none;
    transition: all .3s ease;
}

.hero-text a:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.social {
    font-size: 18px;
    position: relative;
    text-align: right;
}

.social a i {
    color: #fff;
    font-size: 18px;
    position: relative;
}

.social a:not(:first-child) {
    margin-left: 2rem;
}

.social a i::after {
    border: 2px soloid #fff;
    border-radius: 50%;
    bottom: -13px;
    content: '';
    height: 40px;
    left: -15px;
    position: absolute;
    width: 40px;
}

@media only screen and (max-width:1440px) {
    .hero-img {
        width: 100%;
    }
}

@media only screen and (max-width:768px) {
    .main {
        flex-direction: column;
        text-align: center;
    }
    .hero-text h1 {
        font-size: 26px;
    }
    .social {
        margin-top: 50px;
        text-align: center;
    }
    .hero-text a {
        padding: 10px 70px;
    }
}