@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
:root {
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 34%, 41%);
    --hero-background: #3DBEFF;
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
    --font-family-b: 'Barlow', sans-serif;
    --font-family-f: 'Fraunces', serif;
}

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

*:focus {
    outline: none;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
}

.hero-wrapper {
    background-image: url(../images/mobile/image-header.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo img {
    align-items: center;
    cursor: pointer;
}

.nav-links ul {
    display: flex;
}

.nav-links li {
    list-style: none;
    margin: 1.5rem;
}

.nav-links a {
    color: #fff;
    font-family: var(--font-family-b);
    font-weight: normal;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.nav-links a:hover {
    color: var(--Dark-blue);
}

.nav-links button {
    padding: 0.5rem 0.75rem;
    height: 3rem;
    border-radius: 3rem;
    border-style: none;
    background-color: #fff;
    cursor: pointer;
    color: var(--Very-dark-desaturated-blue);
    font-family: var(--font-family-f);
    font-weight: 700;
    font-size: 0.9rem;
    margin: 0rem 2rem;
    text-transform: all 0.3s ease-in-out;
    width: 8rem;
}

.nav-links button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: #fff;
}

.hero {
    padding: 3rem 0rem;
    position: relative;
    min-height: 75vh;
    text-align: center;
}

.hero::after {
    content: url(../images/icon-arrow-down.svg);
    left: 50%;
    position: absolute;
    top: 38%;
    transform: translate(-38%, -50%);
}

.hero h1 {
    color: #fff;
    font-weight: 900;
    font-family: var(--font-family-f);
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 5px;
}

.content-one,
.content-two {
    display: flex;
    min-height: 75vh;
    width: 100%;
}

.content-two {
    flex-direction: row-reverse;
}

.content-one-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background: url(../images/desktop/image-transform.jpg);
    min-height: 75vh;
    width: 50vw;
}

.content-image-two {
    background: url(../images/desktop/image-stand-out.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 75vh;
    width: 50vw;
}

.content-1-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 75vh;
    width: 50vw;
}

.content-1-text h3 {
    color: var(--Very-dark-desaturated-blue);
    font-size: 2.8rem;
    font-family: var(--font-family-f);
    margin: 1rem 0rem;
    max-width: 28rem;
}

.content-1-text p {
    color: var(--Dark-grayish-blue);
    font-size: 18px;
    font-family: var(--font-family-b);
    line-height: 1.8;
    margin: 1.5rem 0rem;
    max-width: 28rem;
    text-align: justify;
}

.content-1-text button {
    background-color: transparent;
    border-style: none;
    color: var(--Dark-desaturated-cyan);
    cursor: pointer;
    font-family: var(--font-family-f);
    font-size: 1.2rem;
    position: relative;
    margin-top: 1rem;
}

.content-1-text button::after {
    background: var(--Yellow);
    border-radius: 10px;
    bottom: 0;
    content: '';
    height: 50%;
    position: absolute;
    left: -10px;
    opacity: 0.4;
    transition: all 0.2s ease-in-out;
    width: 115%;
    z-index: -1;
}

.content-1-text button:hover::after {
    opacity: 0.8;
}

.content-2-text button::after {
    bottom: 0;
    background: var(--Soft-red);
    border-radius: 10px;
    content: '';
    height: 50%;
    position: absolute;
    left: -10px;
    opacity: 0.4;
    transition: all 0.2s ease-in-out;
    width: 115%;
    z-index: -1;
}

.content-2-text button:hover::after {
    opacity: 0.8;
}

.graphic-content {
    align-items: center;
    display: flex;
    min-height: 75vh;
    width: 100%;
}

.graphic-one {
    background: url(../images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--Dark-desaturated-cyan);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 75vh;
    padding-bottom: 5%;
    text-align: center;
    width: 50%;
}

.graphic-two {
    background: url(../images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--Very-dark-desaturated-blue);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 75vh;
    padding-bottom: 5%;
    text-align: center;
    width: 50%;
}

.graphic-one h3,
.graphic-two h3 {
    font-size: 2.5rem;
    font-family: var(--font-family-f);
    font-weight: 900;
    margin: 1rem 0rem;
}

.graphic-one p,
.graphic-two p {
    font-family: var(--font-family-b);
    font-size: 18px;
    line-height: 1.5;
    margin: 0rem 10%;
    margin-top: 1rem;
}

.testimonial {
    min-height: 75vh;
    margin: 5rem 5rem;
}

.testimonial h2 {
    color: var(--Very-dark-grayish-blue);
    font-family: var(--font-family-f);
    font-size: 1.8rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 8rem;
    margin-bottom: 8rem;
    word-spacing: 5px;
}

.testimonial-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content-testimonial {
    text-align: center;
    margin: 0.5rem 1.5rem;
    width: auto;
}

.content-testimonial img {
    border-radius: 50%;
    margin-bottom: 3rem;
    transform: scale(0.8);
}

.testimonial>div {
    display: flex;
}

.content-testimonial p {
    color: var(--Very-dark-grayish-blue);
    font-family: var(--font-family-b);
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 3.5rem;
    max-width: 22rem;
}

.content-testimonial h4 {
    color: var(--Dark-blue);
    font-family: var(--font-family-f);
    font-size: 18px;
    font-weight: 900;
}

.content-testimonial h4 span {
    color: var(--Dark-grayish-blue);
    font-family: var(--font-family-b);
    font-size: 1rem;
    font-weight: 600;
}

.display-images {
    display: flex;
    min-height: 65vh;
    width: 100%;
}

.milk-image {
    background: url(../images/desktop/image-gallery-milkbottles.jpg);
    background-position: center;
    background-size: cover;
    min-height: 65vh;
    width: 25%;
}

.orange-image {
    background: url(../images/desktop/image-gallery-orange.jpg);
    background-position: center;
    background-size: cover;
    min-height: 65vh;
    width: 25%;
}

.cone-image {
    background: url(../images/desktop/image-gallery-cone.jpg);
    background-position: center;
    background-size: cover;
    min-height: 65vh;
    width: 25%;
}

.cube-image {
    background: url(../images/desktop/image-gallery-sugarcubes.jpg);
    background-position: center;
    background-size: cover;
    min-height: 65vh;
    width: 25%;
}

footer {
    align-items: space-between;
    background: #90D4C5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 45vh;
    text-align: center;
    width: 100%;
}

footer img {
    transform: scale(1.5) scaleY(1.2);
    margin: 2rem 0rem;
}

.footer-links ol {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0rem;
    margin-top: 1rem;
}

.footer-links li {
    margin: 1rem;
    text-decoration: none;
    color: var(--Dark-desaturated-cyan);
}

.footer-link a {
    color: var(--Dark-desaturated-cyan);
    text-decoration: none;
}

.social-links i {
    color: var(--Dark-desaturated-cyan);
    cursor: pointer;
    margin: 1rem;
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
}

.social-links i:hover {
    color: #fff;
}

.checkbox {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.menu {
    display: none;
}

@media (max-width: 768px) {
    .content-one,
    .content-two {
        flex-direction: column-reverse;
    }
    .content-1-text {
        text-align: center;
        width: 100vw;
    }
    .content-one-image,
    .content-image-two {
        width: 100vw;
    }
    .graphic-content {
        flex-direction: column;
    }
    .graphic-one,
    .graphic-two {
        width: 100%;
    }
    header {
        position: relative;
        padding: 2rem 2rem;
    }
    .nav-links {
        align-items: center;
        border-radius: 0px 0px 10px 10px;
        background: #fff;
        display: flex;
        justify-content: center;
        position: absolute;
        padding: 3rem 0rem;
        top: 85%;
        text-align: center;
        transition: transform 0.3s linear;
        transform: scale(0);
        transform-origin: top;
        width: 85vw;
        z-index: 999;
    }
    .nav-links ul {
        flex-direction: column;
    }
    .nav-links a {
        color: var(--Dark-desaturated-cyan);
        text-decoration: none;
    }
    .nav-links button {
        background: var(--Yellow);
        transition: all 0.3s ease-in-out;
    }
    .nav-links button:hover {
        background: #fff;
        color: var(--Yellow);
        border: solid 2px var(--Yellow);
    }
    .menu {
        display: block;
        cursor: pointer;
    }
    .hero-wrapper {
        background: url(../images/mobile/image-header.jpg);
        background-size: cover;
        background-position: center;
    }
    .content-one-image {
        background: url(../images/mobile/image-transform.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 98vw;
    }
    .content-image-two {
        background: url(../images/mobile/image-stand-out.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 98vw;
    }
    body {
        overflow-x: hidden;
    }
    .testimonial {
        margin: 0rem;
    }
    .milk-image {
        width: 100%;
        min-height: 35vh;
    }
    .orange-image {
        width: 100%;
        min-height: 35vh;
    }
    .cone-image {
        width: 100%;
        min-height: 35vh;
    }
    .cube-image {
        width: 100%;
        min-height: 35vh;
    }
    .display-images {
        flex-direction: column;
        margin-top: 3rem;
    }
}

.checkbox:checked~.nav-links {
    transform: scale(1);
}