
:root{

--Dark-Magenta: hsl(300, 43%, 22%);
--Soft-Pink: hsl(333, 80%, 67%);
--Dark-Grayish-Magenta: hsl(303, 10%, 53%);
--Light-Grayish-Magenta: hsl(300, 24%, 96%);
--White: hsl(0, 0%, 100%);} 
 
 *{
    margin: 0;
    padding:0 ;
 }
body {
    background-image: url("C:/Users/Ayush/OneDrive/Desktop/social-proof-section-master/images/bg-pattern-top-desktop.svg"), url("C:/Users/Ayush/OneDrive/Desktop/social-proof-section-master/images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }
  
  .first {
    display: inline-block;
    left: 120px;
    position: absolute;
    margin-top: 50px;
    width: 501px;
  }
  
  .second {
    display: inline-block;
    left: 850px;
    margin: 100px auto auto 50px;
    position: absolute;
    width: 500px;
  }
  
  .third {
    left: 120px;
    position: absolute;
    top: 400px;
  }
  
  .first-heading {
    color: hsl(300, 43%, 22%);
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 0;
    width: 400px;
  }
  
  .p-first-text {
   
    color: hsl(303, 10%, 53%);
    width: 400px;
  }
  
  .one {
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 350px;
  }
  
  .two {
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    padding: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
    width: 350px;
  }
  
  .three {
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    margin-left: 80px;
    padding: 10px;
    width: 350px;
   
 }
  
  .box-one {
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    display: inline-block;
    padding: 60px;
    width: 300px;
    
  }
  
  .box-two {
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    display: inline-block;
    left: 20px;
    padding: 60px;
    position: relative;
    top: 20px;
    width: 300px;
  
  }
  
  .box-three {
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    display: inline-block;
    padding: 60px;
    left: 40px;
    margin-left: 900px;
    margin-top: -600px;
    margin-right: 100px;
    position: relative;
    top: 40px;
    width: 300px;
  }
  
  .raring {
    color: hsl(300, 43%, 22%);
    display: inline-block;
    position: absolute;
    margin-top: 0;
    margin-left: 30px;
    
  }
  
  .p-box-one {
    color: rgb(102, 153, 255);
    display: inline-block;
    position: relative;
    bottom: 30px;
    left: 25px;
  }
  
  .p-box-two {
    color: rgb(153, 0, 204);
    display: inline-block;
    position: relative;
    bottom: 10px;
    right: 65px;
  }
  
  .p-box-three {
    color: rgb(102, 204, 255);
  }
  
  .buyer-img {
    border-radius: 50px;
    width: 50px;
  }
  
   .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  } 
  .main{
      width:70%;
      margin: auto;
  
  }
        